@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
}
#dashboard {
  height: 85vh;
}
#right {
  overflow-y: scroll;
  height: 85vh;
}
#right::-webkit-scrollbar {
  width: 0 !important;
}

body::-webkit-scrollbar {
  width: 0 !important;
}

.get-started-btn {
  @apply lg:mt-10 mt-6 flex justify-center w-36 border-0 rounded-lg bg-primary font-bold text-white px-4 py-3 transition-shadow duration-300 ease-in hover:shadow-primary;
}
.nav-btn {
  @apply flex justify-center  border-2 rounded-md  font-bold text-black border-purple-600 px-4 py-2 hover:shadow-xl transition-shadow ease-in-out duration-500;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
